<nav class="container top-nav">
  <div class="row ">
    <div class="col-md-4">
<!--      선택 되었을 때만 text-white 주고 나머지는 text-secondary로-->
      <a href="/board/list" class="text-secondary text-decoration-none">
        <h1>게시판</h1>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/board/list2" class="text-secondary text-decoration-none">
        <h1>게시판2</h1>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/board/list3" class="text-secondary text-decoration-none">
        <h1>게시판3</h1>
      </a>
    </div>
  </div>
</nav>
